@inherits LayoutComponentBase

@inject ILocalStorageService LocalStorage
@using Blazored.LocalStorage

<MudThemeProvider @ref="_mudThemeProvider" Theme="@(IsDarkMode? CustomThemes.DarkTheme: CustomThemes.LightTheme)" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <MudAppBar Elevation="0" Color="Color.Primary" Class="mud-theme-provider">
        <MudText Typo="Typo.h6" Class="ml-2">LMS</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Brightness4" OnClick="@ToggleTheme" Color="Color.Inherit" />
    </MudAppBar>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code {
    private MudThemeProvider? _mudThemeProvider;
    private bool IsDarkMode { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsDarkMode = await LocalStorage.GetItemAsync<bool>("IsDarkMode");
            StateHasChanged();
        }
    }

    public async Task ToggleTheme()
    {
        IsDarkMode = !IsDarkMode;
        await LocalStorage.SetItemAsync("IsDarkMode", IsDarkMode);
        StateHasChanged();
    }
}