@page "/user/account/loginwith2fa"
@layout AuthLayout
@inject NavigationManager NavigationManager

<h1>Two-factor authentication</h1>
<hr />
<p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
<form method="post" action="/api/user/account/loginwith2fa" autocomplete="off">
    <div class="form-floating mb-3">
        <input name="TwoFactorCode" class="form-control" autocomplete="off" placeholder="Authenticator code" required
            minlength="6" maxlength="7" />
        <label class="form-label">Authenticator code</label>
    </div>
    <div class="checkbox mb-3">
        <label class="form-label">
            <input type="checkbox" name="RememberMachine" value="true" />
            Remember this machine
        </label>
    </div>
    <input type="hidden" name="RememberMe" value="false" />
    <input type="hidden" name="ReturnUrl" value="@GetQuery("returnUrl", "/")" />
    <div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
    </div>
</form>
<p>
    Don't have access to your authenticator device? You can
    <a href="@($"/user/account/loginwithrecoverycode?returnUrl={Uri.EscapeDataString(GetQuery("returnUrl", "/"))}")">log
        in with a recovery code</a>.
</p>

@code {
    private string GetQuery(string key, string defaultValue = "")
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        if (query.TryGetValue(key, out var value))
        {
            return value;
        }
        return defaultValue;
    }
}