@page "/user/account/resetpasswordconfirmation"
@layout AuthLayout
@* @attribute [Authorize] *@
@inject SignInManager<User> SignInManager

<h1>Reset password confirmation</h1>
<p>
    Your password has been reset. Please <a href="/user/account/login">click here to log in</a>.
</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
    }
}