@page "/forumposts"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LMS.Data
@using LMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LMS.Data.AuthDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="forumposts/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.ForumPosts">
    <PropertyColumn Property="forumpost => forumpost.Content" />
    <PropertyColumn Property="forumpost => forumpost.TopicId" />
    <PropertyColumn Property="forumpost => forumpost.AuthorId" />
    <PropertyColumn Property="forumpost => forumpost.ParentPostId" />
    <PropertyColumn Property="forumpost => forumpost.CreatedAt" />
    <PropertyColumn Property="forumpost => forumpost.UpdatedAt" />
    <PropertyColumn Property="forumpost => forumpost.IsDeleted" />

    <TemplateColumn Context="forumpost">
        <a href="@($"forumposts/edit?id={forumpost.Id}")">Edit</a> |
        <a href="@($"forumposts/details?id={forumpost.Id}")">Details</a> |
        <a href="@($"forumposts/delete?id={forumpost.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AuthDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
