
@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@attribute [Authorize]
@inject NavigationManager NavigationManager

@code {
    private bool ShowSidebar => !NavigationManager.Uri.Contains("/home");
    private bool showPageLoader = false;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (showPageLoader)
        {
            showPageLoader = false;
            await InvokeAsync(StateHasChanged);
        }
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        showPageLoader = true;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
}

<MudLayout>
    @if (ShowSidebar)
    {
        <MudDrawer ClipMode="DrawerClipMode.Always" Elevation="2">
            <MainSidebar />
        </MudDrawer>
    }
    <MudAppBar Elevation="1">
        <Navbar></Navbar>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
            @Body
        </MudContainer>
    </MudMainContent>

    @if (showPageLoader)
    {
        <div class="page-loader">
            <div class="spinner"></div>
        </div>
    }
</MudLayout>

<!-- Blazor Bootstrap Toasts -->
<MudSnackbarProvider />

