@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@attribute [Authorize]
@inject NavigationManager NavigationManager

@code {
    private bool ShowSidebar => !NavigationManager.Uri.Contains("/home");
}

<div class="page">
    @if (ShowSidebar)
    {
        <div class="sidebar">
            <MainSidebar />
        </div>
    }

    <main>
        <div class="top-row">
            <Navbar></Navbar>
        </div>

        <div class="container-fluid">
            @Body
        </div>
    </main>
</div>

<!-- Blazor Bootstrap Toasts -->
<Toasts class="p-3" AutoHide="true" Delay="5000" Placement="ToastsPlacement.TopRight" />