@page "/certificates"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LMS.Data
@using LMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LMS.Data.AuthDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="certificates/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Certificates">
    <PropertyColumn Property="certificate => certificate.UserId" />
    <PropertyColumn Property="certificate => certificate.CourseId" />
    <PropertyColumn Property="certificate => certificate.CertificateNumber" />
    <PropertyColumn Property="certificate => certificate.IssuedAt" />
    <PropertyColumn Property="certificate => certificate.ExpiresAt" />
    <PropertyColumn Property="certificate => certificate.FinalGrade" />
    <PropertyColumn Property="certificate => certificate.CertificateUrl" />
    <PropertyColumn Property="certificate => certificate.IsValid" />

    <TemplateColumn Context="certificate">
        <a href="@($"certificates/edit?id={certificate.Id}")">Edit</a> |
        <a href="@($"certificates/details?id={certificate.Id}")">Details</a> |
        <a href="@($"certificates/delete?id={certificate.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AuthDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
