@page "/leaderboards"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LMS.Data
@using LMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LMS.Data.AuthDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="leaderboards/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Leaderboards">
    <PropertyColumn Property="leaderboard => leaderboard.Name" />
    <PropertyColumn Property="leaderboard => leaderboard.Description" />
    <PropertyColumn Property="leaderboard => leaderboard.Type" />
    <PropertyColumn Property="leaderboard => leaderboard.Period" />
    <PropertyColumn Property="leaderboard => leaderboard.CourseId" />
    <PropertyColumn Property="leaderboard => leaderboard.IsActive" />
    <PropertyColumn Property="leaderboard => leaderboard.CreatedAt" />

    <TemplateColumn Context="leaderboard">
        <a href="@($"leaderboards/edit?id={leaderboard.Id}")">Edit</a> |
        <a href="@($"leaderboards/details?id={leaderboard.Id}")">Details</a> |
        <a href="@($"leaderboards/delete?id={leaderboard.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AuthDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
