@inherits LayoutComponentBase
@attribute [Authorize(Roles = "Admin")]

<CustomErrorBoundary ShowDetailedErrors="true">
    <div class="admin-page">
        <div class="admin-sidebar">
            <AdminNavMenu />
        </div>

        <main class="admin-main">
            <div class="admin-top-row">
                <ManageNav></ManageNav>
            </div>

            <div class="admin-container">
                @Body
            </div>
        </main>
    </div>
</CustomErrorBoundary>

<!-- Custom Toast Container -->
<ToastContainer />
