@inherits LayoutComponentBase
@attribute [Authorize]

<CustomErrorBoundary ShowDetailedErrors="true">
    <div class="page">
        <div class="sidebar">
            <NavMenu />

        </div>

        <main>
            <div class="top-row">
                <ManageNav></ManageNav>
            </div>

            <div class="container-fluid">
                @Body
            </div>
        </main>
    </div>
</CustomErrorBoundary>

<!-- Toast Container -->
<ToastContainer />
