@inherits LayoutComponentBase
@attribute [Authorize]
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<CustomErrorBoundary ShowDetailedErrors="true">
    <MudLayout>
    <MudDrawer ClipMode="DrawerClipMode.Always" Elevation="2">
        <ReportNavMenu />
    </MudDrawer>

    <MudAppBar Elevation="1">
        <ManageNav></ManageNav>
    </MudAppBar>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
</CustomErrorBoundary>

    @if (showPageLoader)
    {
        <div class="d-flex justify-content-center py-5">
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
        </div>
    }

<!-- Toast Container -->
<MudSnackbarProvider />



@code {
    private bool showPageLoader = false;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (showPageLoader)
        {
            showPageLoader = false;
            await InvokeAsync(StateHasChanged);
        }
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        showPageLoader = true;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
}
