@page "/forums/edit"
@using Microsoft.EntityFrameworkCore
@using LMS.Data
@inject IDbContextFactory<LMS.Data.AuthDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Forum</h2>
<hr />
@if (Forum is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Forum" OnValidSubmit="UpdateForum" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Forum.Id" value="@Forum.Id" />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <InputText id="title" @bind-Value="Forum.Title" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Forum.Title" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Forum.Description" class="form-control" />
                    <ValidationMessage For="() => Forum.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="courseid" class="form-label">CourseId:</label>
                    <InputNumber id="courseid" @bind-Value="Forum.CourseId" class="form-control" />
                    <ValidationMessage For="() => Forum.CourseId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isgeneral" class="form-label">IsGeneral:</label>
                    <InputCheckbox id="isgeneral" @bind-Value="Forum.IsGeneral" class="form-check-input" />
                    <ValidationMessage For="() => Forum.IsGeneral" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isactive" class="form-label">IsActive:</label>
                    <InputCheckbox id="isactive" @bind-Value="Forum.IsActive" class="form-check-input" />
                    <ValidationMessage For="() => Forum.IsActive" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdat" class="form-label">CreatedAt:</label>
                    <InputDate id="createdat" @bind-Value="Forum.CreatedAt" class="form-control" />
                    <ValidationMessage For="() => Forum.CreatedAt" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/forums">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Forum? Forum { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Forum ??= await context.Forums.FirstOrDefaultAsync(m => m.Id == Id);

        if (Forum is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateForum()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Forum!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ForumExists(Forum!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/forums");
    }

    private bool ForumExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Forums.Any(e => e.Id == id);
    }
}
