@page "/forums"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LMS.Data
@using LMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LMS.Data.AuthDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="forums/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Forums">
    <PropertyColumn Property="forum => forum.Title" />
    <PropertyColumn Property="forum => forum.Description" />
    <PropertyColumn Property="forum => forum.CourseId" />
    <PropertyColumn Property="forum => forum.IsGeneral" />
    <PropertyColumn Property="forum => forum.IsActive" />
    <PropertyColumn Property="forum => forum.CreatedAt" />

    <TemplateColumn Context="forum">
        <a href="@($"forums/edit?id={forum.Id}")">Edit</a> |
        <a href="@($"forums/details?id={forum.Id}")">Details</a> |
        <a href="@($"forums/delete?id={forum.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AuthDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
