@page "/achievements"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using LMS.Data
@using LMS.Data
@implements IAsyncDisposable
@inject IDbContextFactory<LMS.Data.AuthDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="achievements/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Achievements">
    <PropertyColumn Property="achievement => achievement.Name" />
    <PropertyColumn Property="achievement => achievement.Description" />
    <PropertyColumn Property="achievement => achievement.IconUrl" />
    <PropertyColumn Property="achievement => achievement.Points" />
    <PropertyColumn Property="achievement => achievement.BadgeColor" />
    <PropertyColumn Property="achievement => achievement.Type" />
    <PropertyColumn Property="achievement => achievement.IsActive" />
    <PropertyColumn Property="achievement => achievement.CreatedAt" />

    <TemplateColumn Context="achievement">
        <a href="@($"achievements/edit?id={achievement.Id}")">Edit</a> |
        <a href="@($"achievements/details?id={achievement.Id}")">Details</a> |
        <a href="@($"achievements/delete?id={achievement.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AuthDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
